@model IEnumerable<backend.Models.Ventaxproducto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FkProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkVentaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FkProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkVentaNavigation.IdVenta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVentaxproducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVentaxproducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVentaxproducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
