@model IEnumerable<backend.Models.Servicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkCategoriaServicioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkEquipoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkImagenNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkCategoriaServicioNavigation.IdCategoriaServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkEquipoNavigation.IdEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkImagenNavigation.IdImagen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdServicio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdServicio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdServicio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
